<%- include ("header.ejs") %>
<div class="about-container">
  <h2>Our Mission</h2>
  <div style="width: 80%; height: 20%">
    <p>
      Our mission is to provide a dynamic and engaging platform where writers
      can share their stories, insights, and expertise. We aim to foster a
      vibrant community where every voice is heard and every story is valued.
      Whether you're a seasoned blogger or a new writer looking to find your
      voice.
    </p>
  </div>

  <h2>Our Story</h2>
  <div style="width: 80%; height: 20%">
    <p>
      Founded in 2021, our platform has quickly become a go-to destination for
      writers and readers alike. Our commitment to quality content and community
      engagement has helped us grow into a thriving community of writers and
      readers from around the world. We believe in the power of storytelling to
      connect people and inspire change.
    </p>
  </div>
</div>
